{% extends 'nw/main.html' %}
{% load static %}
{% block content %}

<div class="col-8 col-lg-11">
home
    <div class="row">
        {% for x in value %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{x.ImageURL}}" alt="">
            <div class="box-element product">
                <h6><strong>{{x.product_name}}</strong></h6>
                <hr>
                <button data-product="{{x.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add To Cart</button>
                <a class="btn btn-outline-success" href="#">view</a>
                <h4 style="display: inline-block; float: right;">{{x.price}}</h4>
    
            </div> 
            
        </div>
        {% endfor %} 
    </div>

</div>



{% endblock content %}