{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Add product</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Sales Inquiry Form Responsive Widget Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link href="{% static 'styleregistration.css' %}" rel="stylesheet" type="text/css" media="all">
<!-- //css files -->
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
</head>
<body>
	
	<!--//header-->
	<!--main--><br><br><br><br><br>
	<div class="agileits-main">
		<div class="wrap">
		<form action="#" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <ul>
				<li class="text">Product Name  :  </li>
				<li><input name="product_name" type="text" required></li>
            </ul>
             <ul>
				<li class="text">Category  :  </li>
				<li><input name="category" type="text" required></li>
			</ul>
             <ul>
				<li class="text">Price  :  </li>
				<li><input name="price" type="text" required></li>
			</ul>	
			<ul>
				<li class="text">Image  :  </li>
				<li><input name="image" type="file" required></li>
			</ul>
          <ul>
				<li class="text">Description:</li>
				<li><textarea required name="desc"></textarea></li>
			</ul>
		
			<div class="clear"></div>
			<div class="agile-submit">
				<input type="submit" value="submit">
				<input type="reset" value="reset">
			</div>
			</form>
		</div>	
	</div>

</body>
</html>