<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title> Admin Login Page</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="Desk Login form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<!-- //Meta tag Keywords -->

	<link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800" rel="stylesheet">

	<!--/Style-CSS -->
	<link rel="stylesheet" href="{% static 'styleadminlogin.css' %}" type="text/css" media="all" />
	<!--//Style-CSS -->
</head>

<body>
	<section class="w3l-forms-main-61">
		<div class="form-inner">
			<div class="wrapper">
				<div class="d-grid top-form">
					<div class="logo">
						<!-- <a class="brand-logo" href="index.html"><span><span class="fa fa-viadeo"
									aria-hidden="true"></span> Desk Login form</span></a> -->
						<!-- if logo is image enable this   
									<a class="brand-logo" href="#index.html">
										<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
									</a> -->
					</div>
				</div>
				<div class="form-bg-blur">
					<div class="form-61">
						<h4 class="form-head">Admin Login </h4>

						<form action="#" method="POST">
							{% csrf_token %}
							<div class="">
								<p class="text-head">Username</p>
								<input type="text" name="username" class="input" required />
							</div>
							<div class="">
								<p class="text-head">Password</p>
								<input type="password" name="password" class="input" required />
							</div>
							<!-- <label class="remember">
								<input type="checkbox">
								<span class="checkmark"></span>Keep me logged in
							</label> -->
							<button type="submit" class="signinbutton btn">Get started</button>
							{% for message in messages %}
							<p style="color: white;">{{message}}</p>
							{% endfor %}
						</form>
					</div>
				</div>
				
				</div>
			
		</div>
	</section>
</body>

</html>